{% extends 'base.html' %}
{% load static %}

{% block title %}Map{% endblock %}

{% block content %}
<div id="map-container" class="position-relative">
    <button id="monastery-toggle-button" class="btn btn-secondary position-absolute" style="left: 50px; z-index: 1000;">Show Monasteries</button>
    <div id="map" style="height: 600px;"></div>
    <!--
        <div id="map-overlay" class="map-overlay">
        <button id="map-overlay-button">Click to activate map</button>
    </div>
    -->
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />