/* static/css/styles.css */

/* Global CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom styles */
body {
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
}

footer p {
    margin: 0;
}

/* Leaflet map styles */
#map {
    height: 600px;
    width: 100%;
}