{% extends 'base.html' %}
{% load static %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <h1>Create Post</h1>
    <form method="post" action="{% url 'create_post' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %} 
                    <span class="form-group">*</span>
                    {% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}