{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1 class="mb-4">Monasteries Map</h1>
    <div id="map" class="mb-4" style="height: 600px; width: 100%;"></div>
    <script id="monasteries-data" type="application/json">
        {{ monasteries|safe }}
    </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([54.5, -3], 6); // Centered on Britain

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var monasteries = JSON.parse(document.getElementById('monasteries-data').textContent);
        monasteries.forEach(function(monastery) {
            var fields = monastery.fields;
            var coordinates = fields.coordinates.match(/([0-9.]+)°([NS])\s*([0-9.]+)°([EW])/);
            if (coordinates) {
                var lat = parseFloat(coordinates[1]) * (coordinates[2] === 'S' ? -1 : 1);
                var lng = parseFloat(coordinates[3]) * (coordinates[4] === 'W' ? -1 : 1);
                L.marker([lat, lng]).addTo(map)
                    .bindPopup('<b>' + fields.name + '</b><br>' + fields.nearest_town);
            } else {
                console.error('Invalid coordinates format:', fields.coordinates);
            }
        });
    </script>
{% endblock %}