{% extends 'base.html' %}
{% load static %}

{% block title %}Monasteries Map{% endblock %}

{% block content %}
    <h1 class="mb-4">Monasteries Map</h1>
    <div id="map-container" class="mb-4" style="position: relative; height: 600px; width: 100%;">
        <div id="map" style="height: 100%; width: 100%;"></div>
        <div id="map-overlay" class="map-overlay">
            <p id="map-overlay-text">Click to activate map</p>
        </div>
    </div>
    <div id="dropdown-menu" class="dropdown-menu" style="display: none;">
        <a class="dropdown-item" href="#">Holdings</a>
    </div>
    <script id="monasteries-data" type="application/json">
        {{ monasteries|safe }}
    </script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}